*{
    margin: 0;
    height: 100%;
}
.wrapper {
    background-image: url("../img/headerimgmario.jpg");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-position: top;
    background-position: left;
    width: auto;
    height: 150px;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}


h1{
    text-align: center;
    color: black;
}

.sobremi{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Handjet', cursive;
}

.fotomario{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.seccionsobremi{
    width: 100%;
    height: auto;
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    font-family: 'Handjet', cursive;
    color: white;
    font-size: 18px;
    height: fit-content;
}

.listtitle{
    font-size: 24px;
    font-weight: bold;
}

a{
    color: white;
    font-size: 28px;
    
}

.footer{
    text-align: center;
    word-spacing: 2em;
    font-size: 22px;
    height: fit-content;
    min-height:content;
}








